<?xml version="1.0"?>
<!DOCTYPE config>
<!--
/**
 * app/code/local/Mmnamespace/Mmmodule/etc/config.xml
 *
 *
 *
 *
 * @author    Omatsola Isaac Sobotie <tsola2002@yahoo.co.uk>
 * @category  Mmnamspace
 * @package   Mmmodule
 *
 */
-->
<config>
    <modules>
        <Mmnamespace_Mmmodule>
            <version>0.0.0</version>
        </Mmnamespace_Mmmodule>
    </modules>
    <global>
        <!--  this code tells magento to use resources  -->
        <models>
            <mmmodule>
                <class>Mmnamespace_Mmmodule_Model</class>
                <resourceModel>mmmodule_resource</resourceModel>
            </mmmodule>
            <mmmodule_resource>
                <class>Mmnamespace_Mmmodule_Model_Resource</class>
                <entities>
                    <event>
                        <table>mmmodule_event</table>
                    </event>
                    <event_registrant>
                        <table>mmmodule_event_registrant</table>
                    </event_registrant>
                </entities>
            </mmmodule_resource>
        </models>
        <blocks>
            <mmmodule>
                <class>Mmnamespace_Mmmodule_Block</class>
            </mmmodule>
        </blocks>
        <helpers>
            <mmmodule>
                <class>Mmnamespace_Mmmodule_Helper</class>
            </mmmodule>
        </helpers>
    </global>

    <!--  routing front page menu to appropriate controller -->
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mmmodule before="Mage_Adminhtml">Mmnamespace_Mmmodule_Adminhtml</mmmodule>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <!--used to route urls with module name to module-->
    <frontend>
        <routers>
            <mmmodule>
                <use>standard</use>
                <args>
                    <frontName>mmmodule</frontName>
                    <module>Mmnamespace_Mmmodule</module>
                </args>
            </mmmodule>
        </routers>

        <layout>
            <updates>
                <mmmodule>
                    <file>mmmodule.xml</file>
                </mmmodule>
            </updates>
        </layout>
    </frontend>
</config>
